VITE_SUPABASE_URL=https://ptngdakvyqotpbbcruii.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0bmdkYWt2eXFvdHBiYmNydWlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MDMxOTgsImV4cCI6MjA5MDI3OTE5OH0.30ncXofNmV4VzNz71ZBHyGihNGbZT4lIvrZqwodAw2k
VITE_GEMINI_API_KEY=AIzaSyBu079RG8EUOMH7IZieQIexn5dT9elI3Bk